@{
    ViewData["Title"] = "About";
}

<div class="container my-5">
    <h1 class="mb-4">About Me</h1>

    <div class="typing-container">
        Hello! I'm a passionate Software Developer skilled in C#, .NET, Python, React, and more.
    </div>

    <p>I love learning new things, traveling, painting, and creating artistic pieces. 🌟</p>

    <h3 class="mt-5">Technical Skills:</h3>
    <ul class="skills-list">
        <li>Languages: Java, C++, Python, C#, JavaScript</li>
        <li>Frameworks: .NET Core, ASP.NET, Spring Boot, FastAPI</li>
        <li>Frontend: React.js, Redux, HTML, CSS, Bootstrap</li>
        <li>Database: SQL Server, MySQL, SQLite</li>
        <li>Other: GitHub, Postman, Power BI</li>
    </ul>
    <h3 class="mt-5">Download My Resume</h3>
    <p>If you'd like to learn more about my skills and experience, feel free to download my resume:</p>
    <a href="~/files/your-resume.pdf" class="btn btn-success" target="_blank">Download Resume</a>

</div>
