@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4 animate-text">Hi, I'm Vanshita Waghale 🚀</h1>
    <div class="typing-container">Software Developer | Coder | Creative Artist</div>
    <p class="lead mt-4">Welcome to my portfolio website!</p>
    <a class="btn btn-primary mt-3" href="/Home/About">Learn more about me</a>
</div>
